<md-card class="card">
  <h1 class="heading">Sign Up</h1>
  <div class="example-form">

    <md-radio-group class="radio-buttons">
      <p class="secondary-heading"><strong>Gender</strong></p>
      <md-radio-button value="Male">Male</md-radio-button>
      <md-radio-button value="Female">Female</md-radio-button>
    </md-radio-group>

    <br /><br />
    <md-radio-group class="radio-buttons">
      <p class="secondary-heading"><strong>Do you smoke?</strong></p>
      <md-radio-button value="Yes">Yes</md-radio-button>
      <md-radio-button value="No">No</md-radio-button>
    </md-radio-group>

    <br /><br />
    <md-radio-group class="radio-buttons">
      <p class="secondary-heading"><strong>Martial Status</strong></p>
      <md-radio-button value="Yes">Married</md-radio-button>
      <md-radio-button value="No">Single</md-radio-button>
    </md-radio-group>

    <br /><br />
    <md-radio-group class="radio-buttons">
      <p class="secondary-heading"><strong>How active are you?</strong></p>
      <md-radio-button value="very">Very</md-radio-button>
      <md-radio-button value="moderate">Moderate</md-radio-button>
      <md-radio-button value="little">Little</md-radio-button>
      <md-radio-button value="none">None</md-radio-button>
    </md-radio-group>

    <br /><br />
    <md-radio-group class="radio-buttons">
      <p class="secondary-heading"><strong>How are your eating habits?</strong></p>
      <md-radio-button value="very">Good</md-radio-button>
      <md-radio-button value="moderate">Average</md-radio-button>
      <md-radio-button value="little">Poor</md-radio-button>
    </md-radio-group>

    <p style="margin-bottom: 0;" class="head"><strong>Weight</strong></p>
    <md-input-container class="example-full-width">
      <input md-input placeholder="Weight in lbs">
    </md-input-container>

    <p class="secondary-heading"><strong>Family History</strong></p>
    <section class="example-section">
      <md-checkbox class="example-margin" [(ngModel)]="familyHistory.cancer">Cancer</md-checkbox>
      <md-checkbox class="example-margin" [(ngModel)]="familyHistory.diabetes">Diabetes</md-checkbox>
      <md-checkbox class="example-margin" [(ngModel)]="familyHistory.heart">Heart Disease</md-checkbox>
      <md-checkbox class="example-margin" [(ngModel)]="familyHistory.stroke">Stroke</md-checkbox>
      <md-checkbox class="example-margin" [(ngModel)]="familyHistory.depression">Depression</md-checkbox>
      <md-checkbox class="example-margin" [(ngModel)]="familyHistory.dementia">Alzheimer's disease/dementia</md-checkbox>
    </section>

    <br />
    <p><strong>Account Information</strong></p>
    <md-input-container class="example-full-width">
      <input md-input placeholder="Email">
    </md-input-container>

    <md-input-container class="example-full-width">
      <input md-input placeholder="Password">
    </md-input-container>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><md-input-container class="example-full-width">
        <input md-input placeholder="First name">
      </md-input-container></td>
      <td><md-input-container class="example-full-width">
        <input md-input placeholder="Last name">
      </md-input-container></td>
    </tr></table>

    <!--drinking, weekly exercise, diet-->
    <!--race ethnicity -->
    <!--education-->

    <br />
    <p><strong>Location</strong></p>
    <p>
      <md-input-container class="example-full-width">
        <textarea md-input placeholder="Address"></textarea>
      </md-input-container>
      <md-input-container class="example-full-width">
        <textarea md-input placeholder="Address 2"></textarea>
      </md-input-container>
    </p>

    <table class="example-full-width" cellspacing="0"><tr>
      <td><md-input-container class="example-full-width">
        <input md-input placeholder="City">
      </md-input-container></td>
      <td><md-input-container class="example-full-width">
        <input md-input placeholder="State">
      </md-input-container></td>
      <td><md-input-container class="example-full-width">
        <input md-input #postalCode maxlength="5" placeholder="Postal Code" value="94043">
        <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
      </md-input-container></td>
    </tr></table><br />

    <button md-button md-raised style="background-color: mediumpurple; color: white;" (click)="this.logHistory()">Submit</button>
  </div>
</md-card>