<div class="fixed-nav-bar">
    <div class="logo"><span>Placeholder</span>Studios</div>
    <input type="checkbox" id="menuButton" />
    <label for="menuButton" class="menu-button-label">
        <div class="white-bar"></div>
        <div class="white-bar"></div>
        <div class="white-bar"></div>
        <div class="white-bar"></div>
    </label>
</div>
<div class="the-bass">
    <div class="rela-block drop-down-container">
        <div class="drop-down-item"></div>
    </div>
    <div class="rela-block drop-down-container">
        <div class="drop-down-item"></div>
    </div>
    <div class="rela-block drop-down-container">
        <div class="drop-down-item"></div>
    </div>
    <div class="rela-block drop-down-container">
        <div class="drop-down-item"></div>
    </div>
    <div class="rela-block drop-down-container">
        <div class="drop-down-item"></div>
    </div>
    <div class="rela-block drop-down-container">
        <div class="drop-down-item"></div>
    </div>
</div>