<h1 class="heading">Pricing</h1>

<md-card class="pricing-card">
    <md-card-header>
      <md-card-title>Free</md-card-title>
      <md-card-subtitle>0$ per month</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button md-raised>Purchase</button>
    </md-card-actions>
</md-card>

<md-card class="pricing-card">
    <md-card-header>
      <md-card-title>Member</md-card-title>
      <md-card-subtitle>15$ per month</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button md-raised>Purchase</button>
    </md-card-actions>
</md-card>

<md-card class="pricing-card">
    <md-card-header>
      <md-card-title>VIP</md-card-title>
      <md-card-subtitle>35$ per month</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button md-raised>Purchase</button>
    </md-card-actions>
</md-card>