.background {
    background-image: url('http://images.fineartamerica.com/images-medium-large-5/4-stunning-sunset-silhouette-reflected-in-calm-lake-water-matthew-gibson.jpg');
    position: fixed;
    height: 100vh;
    width: 50%;
    right: 0;
    background-repeat: no-repeat;
    float: right;
}

.signup-form {
    width: 50%;
    float: left;
    height: 100%;
}

.age-section {
    color: white;
}

.age-section {
    /*margin-top: 50px;*/
    height: 45%;
}

.age-section h1 {
    text-align: center;
    font-size: 7vw;
}

.age-section h2 {
    text-align: center;
    font-size: 3vw;
}

.age-section h3 {
    margin-left: 37%;
    font-size: 25px;
}

.graphs {
    background-color: rgba(255,255,255, 1);
    /*opacity: 0.9;*/
}