<app-signup-form class="signup-form"></app-signup-form>
<div class="background">
  <div class="age-section">
    <h2>Life Expectency: </h2>
    <h1>{{ expectency.age }}</h1>
  </div>
  <div class="graphs">
    <div>
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>