.background {
    background-image: url('http://images.fineartamerica.com/images-medium-large-5/4-stunning-sunset-silhouette-reflected-in-calm-lake-water-matthew-gibson.jpg');
    position: fixed;
    height: 100vh;
    width: 50%;
    right: 0;
    background-repeat: no-repeat;
    float: right;
}

.signup-form {
    width: 50%;
    float: left;
    height: 100%;
}

.age-section {
    color: white;
}

.age-section {
    margin-top: 50px;
}

.age-section h1 {
    margin-left: 47%;
    font-size: 70px;
}

.age-section h3 {
    margin-left: 37%;
    font-size: 25px;
}

.graphs {

}